@import url("https://fonts.googleapis.com/css2?family=Rozha+One&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #EBE6E4;
}

header {
  padding: 25px;
}
header .bx {
  display: none;
}
header #menu-btn {
  display: none;
}
header .menu-mobile {
  display: none;
}
header .logo {
  text-indent: -99999px;
  width: 100px;
  height: 100px;
  background: url(../../images/logo.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center left;
  display: block;
}
header nav {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header nav img {
  height: 150px;
  width: 150px;
}
@media (max-width: 600px) {
  header nav img {
    width: 80px;
    height: 80px;
  }
}
header nav .ul {
  display: flex;
  gap: 40px;
  font-size: 20px;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
}
header nav .ul:nth-child(1) {
  justify-content: flex-end;
}
header nav .ul li a {
  color: black;
}
@media (max-width: 600px) {
  header nav .ul {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
    padding: 0.5em 1em;
    align-items: center;
    display: flex;
    position: relative;
  }
  header .logo {
    text-indent: -99999px;
    width: 60px;
    height: 60px;
    background: url(../images/logo.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center left;
    display: block;
  }
  header .bx {
    display: block;
    font-size: 40px;
    color: #B5AB50;
  }
  header #menu-btn {
    display: none;
  }
  header #menu-btn:checked ~ .menu-mobile {
    right: -50%;
  }
  header .menu-mobile {
    display: block;
    position: absolute;
    background-color: #ebe6e4;
    top: 60px;
    right: 0;
    width: 50%;
    transition: all 0.5s ease;
  }
  header .menu-mobile .ul-mobile {
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  header .menu-mobile .ul-mobile li a {
    font-size: 1.2em;
    color: #B5AB50;
    font-family: "Rozha One", serif;
  }
}

.main {
  background-image: url(../images/fondomain.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
}
@media (min-width: 601px) {
  .main {
    height: 70vh;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
  }
}
.main .container {
  max-width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.main .container h2 {
  font-family: "Rozha One", serif;
  font-size: 35px;
  width: 70%;
  line-height: 1em;
  color: #B5AB50;
}
@media (min-width: 601px) {
  .main .container h2 {
    font-size: 60px;
    width: 30%;
  }
}
.main .container p {
  font-size: 18px;
}
@media (min-width: 601px) {
  .main .container p {
    width: 450px;
  }
}
.main .container a {
  font-size: 16px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B5AB50;
  padding: 0.5em 1em;
  color: white;
  transition: all 0.2s ease;
}
.main .container a:hover {
  transform: scale(105%);
  background-color: #5c5623;
}
@media (min-width: 601px) {
  .main .container a {
    width: 250px;
  }
}
@media (min-width: 601px) {
  .main .container {
    max-width: 1440px;
    gap: 40px;
  }
}

.carrousel {
  margin: 100px 0;
}
.carrousel h2 {
  font-size: 60px;
  line-height: 1em;
  color: #B5AB50;
  font-family: "Rozha One", serif;
  text-align: center;
  font-size: 40px;
}
@media (max-width: 600px) {
  .carrousel h2 {
    font-size: 35px;
  }
}
.carrousel p {
  text-align: center;
  margin: auto;
  padding: 25px 15px;
}
@media (min-width: 601px) {
  .carrousel p {
    width: 50%;
  }
}
.carrousel a {
  background-color: #B5AB50;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  font-size: 25px;
  transition: all 0.2s ease;
}
.carrousel a:hover {
  transform: scale(105%);
  background-color: #5c5623;
}
.carrousel .container {
  margin: 25px auto;
  display: flex;
  gap: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.carrousel .container .carrousel__item {
  position: relative;
}
.carrousel .container .carrousel__item img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 601px) {
  .carrousel .container .carrousel__item img {
    width: 500px;
  }
}
.carrousel .container .carrousel__item:nth-child(1) {
  width: 150px;
}
.carrousel .container .carrousel__item:nth-child(1)::after {
  content: "";
  border: 5px solid #B5AB50;
  position: absolute;
  display: block;
  width: 350px;
  height: 450px;
  top: -40px;
  left: -30px;
}
@media (max-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(1)::after {
    display: none;
  }
}
@media (min-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(1) {
    width: 350px;
  }
}
.carrousel .container .carrousel__item:nth-child(1) img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 70%;
}
@media (min-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(1) img {
    width: 100%;
    opacity: 100%;
  }
}
.carrousel .container .carrousel__item:nth-child(3) {
  width: 150px;
}
.carrousel .container .carrousel__item:nth-child(3)::after {
  content: "";
  border: 5px solid #B5AB50;
  position: absolute;
  display: block;
  width: 350px;
  height: 450px;
  top: 110px;
  right: -30px;
}
@media (max-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(3)::after {
    display: none;
  }
}
@media (min-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(3) {
    width: 350px;
  }
}
.carrousel .container .carrousel__item:nth-child(3) img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 70%;
}
@media (min-width: 601px) {
  .carrousel .container .carrousel__item:nth-child(3) img {
    width: 100%;
    opacity: 100%;
  }
}
@media (min-width: 601px) {
  .carrousel .container {
    margin: 100px auto;
    justify-content: space-around;
  }
}

.container {
  max-width: 375px;
}
@media (min-width: 601px) {
  .container {
    max-width: 1440px;
  }
}

.recetas {
  padding: 100px 0;
}
.recetas .h3 {
  font-size: 60px;
  line-height: 1em;
  color: #b5ab50;
  font-family: "Rozha One", serif;
  text-align: center;
  font-size: 40px;
  color: #b5ab50;
  align-items: center;
  text-align: center;
}
@media (max-width: 600px) {
  .recetas .h3 {
    font-size: 35px;
  }
}
@media (max-width: 601px) {
  .recetas .h3 {
    flex-flow: wrap;
  }
}
.recetas .container {
  padding: 50px 0;
  margin: auto;
  grid-template-areas: "receta1 receta2 receta3" "receta1 receta4 receta5";
  grid-template-columns: 2fr;
  align-items: flex-start;
  text-align: center;
  display: grid;
  width: 100%;
  gap: 50px;
}
@media (max-width: 601px) {
  .recetas .container {
    max-width: 350px;
    grid-template-areas: "receta1" "receta2" "receta3" "receta4" "receta5";
    grid-template-columns: 1fr;
    display: grid;
    grid-auto-flow: column;
  }
}
.recetas .container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
@media (max-width: 601px) {
  .recetas .container div {
    flex-flow: wrap;
    display: flex;
    flex-direction: column;
  }
}
.recetas .container div p {
  text-align: start;
}
.recetas .receta1 {
  grid-area: receta1;
}
.recetas .receta1 .parrafo1, .recetas .receta1 .parrafo2 {
  font-size: 18px;
  color: black;
}
.recetas .receta1 .parrafo2 {
  font-weight: bold;
}
.recetas img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.recetas .receta2 {
  grid-area: receta2;
}
.recetas .receta2 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.recetas .receta3 {
  grid-area: receta3;
}
.recetas .receta3 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.recetas .receta4 {
  grid-area: receta4;
}
.recetas .receta4 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.recetas .receta5 {
  grid-area: receta5;
}
.recetas .receta5 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.recetas .a2 {
  background-color: black;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  background-color: #b5ab50;
  transition: all 0.2s ease;
}
.recetas .a2:hover {
  transform: scale(105%);
  background-color: #5c5623;
}

@media (max-width: 600px) {
  footer {
    display: flex;
  }
  footer .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  footer .container .footer_logo img {
    width: 60px;
  }
  footer .container .footer__contacto .social__icons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  footer .container .footer__contacto .social__icons .bx {
    display: block;
    color: #b5ab50;
    font-size: 30px;
  }
  footer .container .footer__newsletter {
    text-align: center;
  }
  footer .container .footer__newsletter .footer__form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  footer .container .footer__newsletter .footer__form input {
    border: none;
    height: 30px;
    padding: 1em;
  }
  footer .container .footer__newsletter .footer__form button {
    background-color: #b5ab50;
    border: none;
    color: white;
    height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
  }
}
.footer {
  padding: 100px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.footer .container .footer_logo img {
  width: 100px;
}
.footer .container .footer__contacto .social__icons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 30px;
}
.footer .container .footer__contacto .social__icons .bx {
  display: block;
  color: #b5ab50;
}
.footer .container .footer__newsletter {
  text-align: center;
}
.footer .container .footer__newsletter .footer__form {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.footer .container .footer__newsletter .footer__form input {
  border: none;
  height: 30px;
  padding: 1em;
  width: 200px;
}
.footer .container .footer__newsletter .footer__form button {
  background-color: #b5ab50;
  border: none;
  color: white;
  height: 30px;
  text-transform: uppercase;
  width: 200px;
}

.nuestrahistoria {
  width: 100%;
  height: auto;
}
.nuestrahistoria .h33 {
  font-size: 60px;
  line-height: 1em;
  color: #B5AB50;
  font-family: "Rozha One", serif;
  font-size: 40px;
  color: #B5AB50;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
}
@media (max-width: 600px) {
  .nuestrahistoria .h33 {
    font-size: 35px;
  }
}
@media (max-width: 601px) {
  .nuestrahistoria .h33 {
    flex-flow: wrap;
  }
}
.nuestrahistoria p {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.nuestrahistoria img {
  width: 35%;
  border-radius: 10px;
  float: right;
  margin-right: 10%;
}
@media (max-width: 601px) {
  .nuestrahistoria img {
    flex-flow: wrap;
    float: none;
  }
}

.menu {
  margin: 100px 0;
  background-image: url(../../images/budin.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.menu .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: auto;
}

.menu__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: space-between;
}
.menu__section h3 {
  font-size: 50px;
  font-weight: 100;
  text-align: start;
  text-transform: uppercase;
}

.menu__item {
  font-size: 21px;
}
.menu__item h4 {
  text-transform: uppercase;
  font-weight: 600;
}
.menu__item p {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 100;
}

.menu:nth-child(2n+1) {
  background-image: url(../../images/budin2.jpeg);
  background-position: center;
}
.menu:nth-child(2n+1) .container {
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .menu {
    background-color: #EBE6E4;
    overflow: hidden;
    margin: 0%;
    background-image: url(../../images/budin.jpeg);
    background-position-y: center;
    background-position-x: 0%;
    position: relative;
  }
  .menu h3 {
    font-size: 28px;
  }
  .menu .container {
    max-width: 350px;
  }
  .menu::before {
    content: "";
    display: block;
    height: 1500px;
    width: 100%;
    background-color: #EBE6E4;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    top: 0%;
  }
  .menu__section {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item h4 {
    font-size: 18px;
  }
  .menu__item p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
