@mixin  h2 ($color){
    font-size: 60px;
    line-height: 1em;
    color: $color;
    font-family: "Rozha One", serif;
    @media(max-width: 600px){
        font-size: 35px;
    }
        

}

@mixin  h3 ($color){
    font-size: 60px;
    line-height: 1em;
    color: $color;
    font-family: "Rozha One", serif;
    @media(max-width: 600px){
        font-size: 35px;
    }
        

}
    
    
