* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

/* grid estructura body index */
.indexgrid {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "seccion1 seccion1 seccion1"
    "seccion2 seccion2 seccion2"
    "seccion3 seccion3 seccion3"
    "footer footer footer";
}

/* HEADER de todas las paginas */
.header {
  grid-area: header;
  width: 100%;
  display: flex;
  padding: 15px 50px;
  justify-content: flex-start;
  align-items: center;

}

ul {
  display: flex;
  gap: 40px;
  padding-left: 30px;
  text-decoration: none;
}


/* PAGINA INICIO*/
.seccion1 h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: palevioletred;
  font-weight: 150px;
}

.seccion1 {
  grid-area: seccion1;
  width: 100%;
  text-align: center;
  padding: 100px;
}

.contenedor{
  position: relative;

}
.contenedor:hover .h4{
  opacity: 100;
}

 
.h4{
    opacity: 0;
    top: 50%;
    position: absolute;
    margin-left: 60px;
    font-size: 35px;
    color: rgb(90, 85, 85);
    background:rgba(253, 253, 253, 0.7) ;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s ease;
    
    
}


.contenedor, .contenedorC {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
}

.contenedor_img img {
  width: 300px;
  height: 350px;


}
.section2 {
  grid-area: seccion2;
  width: 100%;
  text-align: center;
  padding: 100px;
}

.section2 h3 {
  font-size: 30px;
  text-align: right;
  color: white;
  background-color: palevioletred;
  font-weight: 150px;
  padding-right: 20px;
}

.contenedor2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
}

.contenedor_img2 img {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 350px;
  float: left;
}

.section3 h3 {
  font-size: 30px;
  text-align: left;
  font-weight: 150px;
  color: white;
  background-color: palevioletred;
  padding-left: 20px;
}

.section3 p {
  font-size: 20px;
  font-weight: 100;
}

.section3 {
  grid-area: seccion3;
  width: 100%;
  text-align: left;
  padding: 100px;
}

/* BOTON main de CONTACTO e INICIO y de seccion1 INICIO */
main a {
  color: white;
  font-size: 20px;
  background-color: #031;
  padding: 5px 15px;
  border-radius: 150px;
  margin-top: 100px;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}

button{
  position: relative;
  margin: 0 50px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  background: #031;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 2px;cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

button span{
  position: absolute;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background: rgba(38, 184, 221, 0.2);
  top: -50%;
  left: -100%;
  transition: all 0.3s;
}

button:hover span{
  left: -10%;
}

button:hover{
  color: aliceblue;
  background: #033133;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7) ;
}

/* main INICIO/CONTACTO */
.main {
  grid-area: main;
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../images/cafe2.jpg);
  background-size: cover;
}

.main h2 {
  width: 50%;
  text-align: center;
  font-size: 40px;
}

.main p {
  text-align: center;
  font-size: 20px;
  width: 70%;
}

/* PAGINA MENU*/
.main-menu {
  grid-area: seccion1;
  width: 100%;
}

.titulo-menu__historia {
  grid-area: main;
  display: flex;
  height: 300px;
  width: 100%;
  color: white;
  background-color: palevioletred;
  font-weight: 150px;
  background-image: url(../images/marquise.jpg);
  background-size: cover;
  justify-content: center;
  font-size: 50px;
  align-items: center;
}

.main-menu__contenedor {
  grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img2"
    "img3 img3 img4"
    "img3 img3 img4";
  grid-template-rows: 100px 300px 70px 250px;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 100px 0;
  gap: 20px;
  text-align: center;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-area: img1;
  width: 100%;
}

.img2 {
  grid-area: img2;
  width: 100%;
}

.img3 {
  grid-area: img3;
  width: 100%;
}

.img4 {
  grid-area: img4;
  width: 100%;
}

.main-menu h4 {
  text-align: center;
  padding: 15px;
}

/* PAGINA RECETAS*/

.main-recetas__contenedor {
  grid-template-areas:
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
  ;
  grid-template-rows: 100px 100px 100px 100px;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 100px 0;
  gap: 20px;
  text-align: center;
  padding: 40px;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.img1 {
  grid-area: img1;
  width: 100%;
}

.img2 {
  grid-area: img2;
  width: 100%;
}

.img3 {
  grid-area: img3;
  width: 100%;
}

.img4 {
  grid-area: img4;
  width: 100%;
}

.main-recetas__contenedor H4 {
 margin-bottom: 40px;
}


/* PAGINA NUESTRA HISTORIA*/
.main-historia {
  grid-area: seccion1;
  display: flex;
  flex-direction: row-reverse;
  color: black;
  max-width: 80%;
  margin: 100px auto;
  gap: 50px;
  background-color: palevioletred;
  color: white;
  padding: 25px;
  border-radius: 15px;
}

.main-historia img {
  width: 50%;
}

/* PAGINA CONTACTO*/

.section__formulario {
  grid-area: seccion1;
  display: flex;
  width: 100%;
  justify-content: center;
}

.section__formulario .contenedor {
  justify-content: center;
  max-width: 1200px;
  padding: 100px;
  background-color: palevioletred;
}

.section__formulario img {
  width: 30%;
}

.section__formulario form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form label {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  font-weight: bolds;
}

input {
  height: 30px;
  border: none;
  padding: 5px;
}

.checkbox {
  height: 15px;
}

.check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check label {
  font-size: 15px;
  font-weight: 400;
}

.boton-formulario {
  color: palevioletred;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

/* FOOTER*/
footer {
  grid-area: footer;
  display: flex;
  background-color: blanchedalmond;
  text-align: center;
  padding: 40px;
  justify-content: space-between;
}

footer h2 {
  text-align: left;
  font-size: 30px;
}

.infocontacto {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.linksfooter {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 10px;
}

.nombreslocales {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.foormulariofooter {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.redesfooter {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* RESPONSIVE CELULAR INDEX*/


@media screen and (max-width: 480px) {
  .indexgrid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "seccion1"
      "seccion2"
      "seccion3"
      "footer";
  }

  .header {
    width: 100%;
    justify-content: center;
  }

 a{
  text-decoration: none;
 }
  nav {
    display: none;
  }

  .seccion1, .section2, .section3 {
    margin: auto;
    padding: 60px 10px;
  }

  .seccion1 h2, .section2 h3 {
    width: 100%;
    text-align: center;
  }

  .footer {
    flex-flow: wrap;
    gap: 50px;
    display: flex;
    flex-direction: column;
    margin: 0%;
  }

  .infocontacto {
   text-align: center;
  }

  .infocontacto h2, .Secciones  {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 0px;
  }

  .linksfooter, .Locales, .nombreslocales{
    text-align: center;
  }

  .redesfooter{
    display: inline;
    text-align: center;
  }

  .contenedor, .contenedor2 {
    flex-flow: wrap;
    justify-content: center;
  }

  .main h2 {
    width: 100%;
    font-size: 30px;
  }
}

/* RESPONSIVE CELULAR NUESTRA HISTORIA*/
@media screen and (max-width: 480px) {
  .historiagrid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "seccion1"
      "footer";
  }

  .header {
    width: 100%;
    justify-content: center;
  }

  nav {
    display: none;
  }

  .titulo-menu__historia{
    text-align: center;
    font-size: 30px;
    
  }

  .main-historia{
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 60px;
  }

  .main-historia h2{
    padding-bottom: 20px;
  }

  .main-historia img{
   display: none;
  }

}


/* RESPONSIVE CELULAR MENU*/
@media screen and (max-width: 480px) {
  .menugrid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "seccion1"
      "img1"
      "img2"
      "img3"
      "img4"
      "footer";
  }

  .header {
    width: 100%;
    justify-content: center;
  }

  nav {
    display: none;
  }

  .titulo-menu__historia{
    text-align: center;
    font-size: 30px;
    
  }

  .main-menu__contenedor{
    text-align: center;
    display: flex;
    flex-flow:wrap;
      

  }
  .img1 img{
    grid-area: img1;
    padding: 40px;
  }
  .img2 img{
    grid-area: img2;
    padding: 40px;

  }
  .img3 img {
    grid-area: img3;
    padding: 40px;
   }
   
   .img4 img{
    grid-area: img4;
    padding: 40px;
  } 

}


/* RESPONSIVE CELULAR RECETAS*/
@media screen and (max-width: 480px) {
  .recetasgrid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "seccion1"
      "img1"
      "img2"
      "img3"
      "img4"
      "footer";
  }

  .header {
    width: 100%;
    justify-content: center;
  }

  nav {
    display: none;
  }

  .titulo-menu__historia{
    text-align: center;
    font-size: 30px;
    
  }

  .main-recetas__contenedor{
    text-align: center;
    display: flex;
    flex-flow:wrap;
    margin-bottom: 150px;
      

  }
  .img1 img{
    grid-area: img1;
    padding: 40px;
    padding-bottom: 0%;

  }
  .img2 img{
    grid-area: img2;
    padding: 40px;
    padding-bottom: 0%;
    margin-top: 30px;

  }
  .img3 img {
    grid-area: img3;
    padding: 40px;
    padding-bottom: 0%;
    margin-top: 60px;
   }
   
   .img4 img{
    grid-area: img4;
    padding: 40px;
    padding-bottom: 0%;
    margin-top: 80px;
  } 

  .main-recetas__contenedor h4{
  margin: 0%;
  padding-bottom: 10px;

  }

  .main-recetas__contenedor a{
    margin: 0%;
    margin-bottom: 20px;
  
    }

 
}

/* RESPONSIVE CELULAR CONTACTO*/
@media screen and (max-width: 480px){

  .contactogrid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "seccion1"
      "footer";
  }
  .section__formulario{
    margin-top: -20px;
  }

   .form{
    grid-area:seccion1 ;
    flex-flow:wrap;
    flex-direction: column;
    text-align: center;
    justify-items:right;
    margin-left: -80px;
    margin-top: -40px;
   
  }

  label{
    margin-bottom: -20px;
  }

  input{
    text-align: center;

  }

 .imgcontacto img{
    display: none;
  }

  .footer {
    flex-flow: wrap;
    gap: 50px;
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 0px;
  }

}